#visualization {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    text-align: center;

    &.invisible {
        display: none;
    }

    .menu {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 32px;

        .navigation {
            display: inline-block;

            &.invisible {
                display: none;
            }
        }

        .btn {
            width: 32px;
            height: 32px;
            z-index: 2;
            cursor: pointer;
            display: inline-block;
            user-select: none;
            background-color: rgba(255,255,255,0.3);
            background-position: center;
            background-repeat: no-repeat;

            &.close {
                background-image: url("img/close.png");
            }

            &.prev {
                background-image: url("img/prev.png");
            }

            &.next {
                background-image: url("img/next.png");
            }

            &.disabled {
                opacity: 0.3;
                cursor: auto;
                pointer-events: none;
            }
        }
    }

    .wait {
        position: fixed;
        top: 8px;
        left: 8px;
        width: 100vw;
        height: 100vh;
        background: url("img/wait.gif") no-repeat fixed center;

        &.invisible {
            display: none;
        }
    }

    canvas {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .prompt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: #CCC;
        border: 1px solid black;
        border-radius: 2px;
        padding: 0.3em;

        font-size: 1.5em;

        &.invisible {
            display: none;
        }

        select, input {
            display: block;
            margin: 0.3em;
            min-width: 20em;
            width: 100%;
            font-size: 16px;
        }

        select[multiple] {
            height: 20em;
            //font-family: 'Source Code Pro', monospace;
            font-family: 'Oxygen Mono', monospace;
            //font-family: 'Inconsolata', monospace;
            white-space: pre;
            font-size: 16px;
        }

        .hidden {
            display: none;
        }
    }

    .track-pointer {
        position: absolute;
        height: 8px;
        width: 8px;
        background-color: #F80;
        border: 1px solid black;
        border-radius: 4px;
        opacity: 0.7;

        &.invisible {
            display: none;
        }
    }

    // .navigation {
    //     position: fixed;
    //     bottom: 0;
    //     margin: 0 auto;
    //     padding: 0.3em;
    //     left: 0;
    //     right: 0;

    //     &.invisible {
    //         display: none;
    //     }

    //     @import "mixins/button.less";

    //     .button {
    //         width: 7em;
    //         line-height: 2em;
    //     }
    // }
}
