//- requires:

mixin controls(id)
    div(id=id).controls.top
        .button.gaze-plot Gaze plot
        .button.text-summary Text summary
        .button.gaze-replay Gaze replay
        .button.word-replay Word replay
        .button.student-summary Student summary
