//- requires:

mixin controls(id)
    div(id=id).controls.top
        button.button.gaze-plot Gaze plot
        button.button.text-summary Text summary
        button.button.gaze-replay Gaze replay
        button.button.word-replay Word replay
        button.button.student-summary Student summary
