//- requires:

mixin controls(id)
    div(id=id).controls.top
        .button.gaze-plot Gaze plot
        .button.gaze-plots Gaze plots
        .button.gaze-replay Gaze replay
        .button.word-replay Word replay
