//- requires:
//-     slideout.less

mixin options(id)
    div(id=id).invisible
        .inner
            .title Settings
            .options
                //---- example of the content
                //- .group
                //-     .name [NAME]
                //-     .row
                //-         .label [LABEL]
                //-         select.value.ID
                //-             each ITEM in LIST
                //-                 option(value="#{ITEM}") #{ITEM}
                //-     .row
                //-         .label [LABEL]
                //-         input.value.id(type="checkbox")
            .buttons
                .button.save Save and close
                .button.apply Apply
                .button.reset Reset
