//- requires:
//-     slideout.less

mixin options(id, lists)
    div(id=id).slideout.left
        .title Options
        .slideout_inner
            .options
                //---- example of the content
                //- .group
                //-     .name [NAME]
                //-     .row
                //-         .label [LABEL]
                //-         select.value.ID
                //-             each ITEM in LIST
                //-                 option(value="#{ITEM}") #{ITEM}
                //-     .row
                //-         .label [LABEL]
                //-         input.value.id(type="checkbox")
            input.save(type="button", value="Save")
            input.close(type="button", value="Close")
            input.reset(type="button", value="Reset")
