//- requires:

mixin visualization(id)
    div(id=id).path.invisible
        canvas
        .wait &nbsp;
        .top-panel
            .props.invisible
                .prop.speech
                .prop.syllab
            .menu
                .navigation.invisible
                    .btn.prev
                    .btn.next
                .btn.close
        div.prompt Select a session:
            div
                select.categories
                select.sessions
                input.select(type="button", value="Select", autofocus="autofocus")
