//- requires:

mixin visualization(id)
    div(id=id).invisible
        canvas
        .wait &nbsp;
        .vis-title
        .top-panel
            .props.invisible
                abbr.prop.speech(title="Speech output")
                abbr.prop.syllab(title="Syllabification")
            .menu
                .navigation
                    abbr.btn.prev(title="Previous page")
                    .page
                    abbr.btn.next(title="Next page")
                .separator
                abbr.btn.settings(title="Settings")
                abbr.btn.close(title="Close this visualization")
        div.prompt
            .title Select sessions
            div
                select.categories
                select.items
                input.select(type="button", value="Continue", autofocus="autofocus")
        .bottom-panel
            .player.invisible
                abbr.btn.restart(title="Restart")
                abbr.btn.pause(title="Pause / Continue")
                .track
