//- requires:

mixin visualization(id)
    div(id=id).invisible
        canvas
        .wait &nbsp;
        .vis-title
        .top-panel
            .props.invisible
                abbr(title="Speech output")
                    .prop.speech
                abbr(title="Syllabification")
                    .prop.syllab
            .menu
                .navigation
                    abbr(title="Previous page")
                        .btn.prev
                    .page
                    abbr(title="Next page")
                        .btn.next
                .separator
                abbr(title="Settings")
                    .btn.settings
                abbr(title="Close this visualization")
                    .btn.close
        div.prompt
            .title Select sessions
            div
                select.categories
                select.items
                input.select(type="button", value="Continue", autofocus="autofocus")
