//- requires:

mixin visualization(id)
    div(id=id).path.invisible
        canvas
        .wait &nbsp;
        .top-panel
            .props.invisible
                .prop.speech
                .prop.syllab
            .menu
                .navigation
                    .btn.prev
                    .page
                    .btn.next
                .separator
                .btn.settings
                .btn.close
        div.prompt
            .title Select sessions
            div
                select.categories
                select.items
                input.select(type="button", value="Continue", autofocus="autofocus")
