//- requires:

mixin visualization(id)
    div(id=id).invisible
        canvas
        .wait &nbsp;
        .vis-title
        .top-panel
            .props.invisible
                abbr.prop.speech(title="Speech output")
                abbr.prop.syllab(title="Syllabification")
            .menu
                .navigation
                    abbr(title="Previous page")
                        button.btn.prev
                    .page
                    abbr(title="Next page")
                        button.btn.next
                .separator
                abbr(title="Settings")
                    button.btn.settings
                abbr(title="Close this visualization")
                    button.btn.close
        div.prompt
            .title Select sessions
            div
                select.categories
                select.items
                input.select(type="button", value="Continue", autofocus="autofocus")
        .bottom-panel
            .player.invisible
                abbr(title="Restart")
                    button.btn.restart
                abbr(title="Pause / Continue")
                    button.btn.pause
                .track
